<section>
  <div>
    <ion-button slot="fixed" color="danger"
      ><a [routerLink]="['/home']" routerLinkActive="router-link-active"
        >Cancelar</a
      ></ion-button
    >
  </div>
  <div class="title">
    <ion-label>
      <h1>Retomar factura</h1>
      <h2>N&uacute;mero {{ factura.numero }}</h2>
    </ion-label>
  </div>
  <div id="record">
    <div>
      <div>
        <ion-label>Subtotal:</ion-label>
        <ion-label>COP&#36;{{ factura.subtotal }}</ion-label>
      </div>
      <div>
        <ion-label>IVA 19%:</ion-label>
        <ion-label>COP&#36;{{ factura.iva }}</ion-label>
      </div>
    </div>
    <div>
      <ion-label>Descuento:</ion-label>
      <ion-label>COP&#36;{{ factura.descuento }}</ion-label>
    </div>
    <div>
      <ion-label>Total:</ion-label>
      <ion-label>COP&#36;{{ factura.total }}</ion-label>
    </div>
  </div>
  <div *ngFor="let articulo of articulos">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-button color="danger" (click)="onDelete(articulo.detalle)"
            ><ion-icon name="trash"></ion-icon
          ></ion-button>
          <ion-label
            ><strong
              >Total&#58; COP&#36;{{ articulo.importe }}</strong
            ></ion-label
          >
        </ion-item>
        <ion-card-title>{{ articulo.detalle }}</ion-card-title>
        <ion-card-subtitle>
          Precio&#58; COP&#36;{{ articulo.valor_unitario }}
        </ion-card-subtitle>
        <ion-label>Cantidad: {{ articulo.cantidad }}</ion-label>
      </ion-card-header>
    </ion-card>
  </div>
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success" (click)="onUpdate(id)">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</section>
