<section>
  <div>
    <ion-button slot="fixed" color="danger"
      ><a [routerLink]="['/home']" routerLinkActive="router-link-active"
        >Cancelar</a
      ></ion-button
    >
  </div>
  <div class="title">
    <ion-label>
      <h1>Factura</h1>
      <h2>Numero {{ factura.numero }}</h2>
      <div>
        <div>
          <ion-text>Fecha: {{ factura.fecha }}</ion-text>
        </div>
        <div>
          <ion-text>Hora: {{ factura.hora }}</ion-text>
        </div>
      </div>
    </ion-label>
  </div>
  <div id="record">
    <div>
      <div>
        <ion-label>Subtotal:</ion-label>
        <ion-label>COP&#36; {{ factura.subtotal }}</ion-label>
      </div>
    </div>
    <div>
      <div>
        <ion-label>IVA 19&#37;:</ion-label>
        <ion-label>COP&#36; {{ factura.iva }}</ion-label>
      </div>
      <div>
        <ion-label>Descuento:</ion-label>
        <ion-label>COP&#36; {{ factura.descuento }}</ion-label>
      </div>
    </div>
    <div>
      <ion-label>Total:</ion-label>
      <ion-label>COP&#36; {{ factura.total }}</ion-label>
    </div>
  </div>
  <div id="items">
    <ion-list>
      <ion-item>
        <ion-label>Cantidad</ion-label>
        <ion-label>Detalle</ion-label>
        <ion-label>V/r Uni.</ion-label>
        <ion-label>Total</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div id="list-products">
    <ion-list *ngFor="let articulo of articulos">
      <ion-item>
        <ion-label>{{ articulo.cantidad }}</ion-label>
        <ion-label>{{ articulo.detalle }}</ion-label>
        <ion-label>COP&#36;{{ articulo.valor_unitario }}</ion-label>
        <ion-label>COP&#36;{{ articulo.importe }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</section>
