<section>
  <div>
    <ion-button slot="fixed" color="danger">Cancelar</ion-button>
  </div>
  <div class="title">
    <ion-label>
      <h1>Crear factura</h1>
    </ion-label>
  </div>
  <div id="record">
    <div>
      <div>
        <ion-label>Subtotal:</ion-label>
        <ion-label>COP$165,000.00</ion-label>
      </div>
    </div>
    <div>
      <ion-label>Total:</ion-label>
      <ion-label>COP$165,000.00</ion-label>
    </div>
  </div>
  <div class="subtitle">
    <h2>Productos</h2>
  </div>
  <div id="items">
    <ion-list>
      <ion-item>
        <ion-label>Cantidad</ion-label>
        <ion-label>Detalle</ion-label>
        <ion-label>Valor unitario</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div id="list-products">
    <ion-list>
      <ion-item>
        <ion-input type="number" min="1" placeholder="Cantidad"></ion-input>
        <ion-label>Pantal&oacute;n Azul mmsfds...</ion-label>
        <ion-label>COP$50,000.00</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</section>
