section > div > ion-button > a {
  text-decoration: none;
  color: white;
}

section > div > ion-label > h1 {
  text-align: center;
}

.title,
.subtitle {
  margin: 20px 0;
}

.subtitle{
  margin-left: 10px;
}

#items > div {
  display: inline;
}

#record > div {
  margin-bottom: 5px;
}

#record > div > ion-label,
#record > div > div > ion-label{
  margin-right: 10px;
}

#items {
  text-align: center;
  border-bottom: 2px solid rgb(19, 236, 55);
}

#list-products > ion-list > ion-item > ion-input{
  max-width: 100px;
}
