<section>
  <div>
    <ion-button slot="fixed" color="danger"
      ><a [routerLink]="['/home']" routerLinkActive="router-link-active"
        >Cancelar</a
      ></ion-button
    >
  </div>
  <div class="title">
    <ion-label>
      <h1>Crear factura</h1>
    </ion-label>
  </div>
  <div class="subtitle">
    <h2>Productos</h2>
  </div>
  <div *ngFor="let producto of productos">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          Precio: COP&#36;{{ producto.precio }}
        </ion-card-subtitle>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <ion-button
          color="success"
          (click)="onCart(producto.detalle, producto.precio)"
          ><ion-icon name="cart"></ion-icon
        ></ion-button>
        <div *ngFor="let dato of arrayCantidad">
          <div>
            <ion-label>Cantidad: {{ dato.cantidad }}</ion-label>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success" (click)="onCreate()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</section>
