<section>
  <div>
    <ion-button slot="fixed" color="danger"><a [routerLink]="['/products']" routerLinkActive="router-link-active">Cancelar</a></ion-button>
  </div>
  <div class="title">
      <h1>Crear producto</h1>
  </div>
  <div id="items">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-input type="number" min="1" name="precio" [(ngModel)]="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Detalle</ion-label>
      <ion-textarea
        placeholder="Descripci&oacute;n del producto" [maxlength]="500" name="detalle"
        [(ngModel)]="detalle"></ion-textarea>
    </ion-item>
    <div id="categories">
      <h2 class="title-categories">Categor&iacute;as</h2>
      <ion-radio-group value="1" name="categoria" [(ngModel)]="categoria">
        <div>
          <ion-radio value="1"></ion-radio>
          <ion-label>Camisetas</ion-label>
        </div>
        <div>
          <ion-radio value="2"></ion-radio>
          <ion-label>Camisas</ion-label>
        </div>
        <div>
          <ion-radio value="3"></ion-radio>
          <ion-label>Pantalones</ion-label>
        </div>
      </ion-radio-group>
    </div>
  </div>
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success" (click)="onCreate()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</section>
