<section>
  <div>
    <ion-label>Correo electr&oacute;nico</ion-label>
    <ion-item>
      <ion-input type="email" fill="" helperText="Enter a valid email" errorText="Invalid email" ngModel
        email></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-label>Contrase&ntilde;a</ion-label>
    <ion-item>
      <ion-input type="password" fill="none"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-button fill="outline" color="primary"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Entrar</a></ion-button>
  </div>
</section>