<section>
  <div class="title">
    <ion-label>
      <h1>Facturas</h1>
    </ion-label>
  </div>
  <div id="items">
    <div>
      <span>TOTAL: 2</span>
    </div>
  </div>
  <div id="list" *ngFor="let factura of facturas">
    <ion-card>
      <ion-card-header>
        <div>
          <div>
            <span>Fecha: {{ factura.fecha }}</span>
          </div>
          <div>
            <span>Hora: {{ factura.hora }}</span>
          </div>
        </div>
        <ion-card-title>N&uacute;mero: {{ factura.numero }}</ion-card-title>
        <ion-card-subtitle>TOTAL: COP${{ factura.total }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-button color="primary"
            ><ion-icon name="eye"></ion-icon
          ></ion-button>
        </div>
        <div>
          <ion-button color="danger"
            ><ion-icon name="trash"></ion-icon
          ></ion-button>
        </div>
        <div>
          <ion-button color="warning"
            ><a
              [routerLink]="['./alter/', factura.id]"
              routerLinkActive="router-link-active"
              ><ion-icon name="create"></ion-icon></a
          ></ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <a [routerLink]="['./create']" routerLinkActive="router-link-active"
            ><ion-icon name="add" color="success"></ion-icon
          ></a>
        </ion-fab-button>
        <ion-fab-button>
          <a [routerLink]="['/products']" routerLinkActive="router-link-active"
            ><ion-icon name="file-tray-full-outline" color="primary">
              ></ion-icon
            ></a
          >
        </ion-fab-button>
        <ion-fab-button>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"
            ><ion-icon name="exit-outline" color="danger"></ion-icon
          ></a>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</section>
